body{
    background-color: #1f2326;
}
.linha{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    max-width: 800px;
    margin: auto;
    padding: 10px 0px;
}
h1{
    text-align: center;
    color: #aaa;
}
@media screen and (max-width:728px) {
    .linha{
        flex-direction: column;
        width: 300px;
        margin-bottom: 20px;
    }
    h1{
        width: 100%;
        text-align: center;
    }
}